 body { 
    font-family: Segoe UI ;
    background-color: #78B3CE;
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
 }

 .calculator {
    background-color: #C9E6F0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: azure;
    padding: 20px;
 }

 input [type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    border: none;
    background-color: #444;
    color: aliceblue;
    text-align: right;
 }

 .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
 }

 .button {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    background-color: #FBF8EF;
    border: none;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3;
 }

 .button:hover {
    background-color: #b9b9b9;
 }

 #delete {
   background-color: #F96E2A;
 }

 #hasil {
   background-color: #F96E2A;
 }

#display {
   font-size: 24px;
   border: 2px solid #FBF8EF;
   background-color: #FBF8EF;
   width: 96%;
   height: 50px;
   border-radius: 10px;
}

